<a href="https://colab.research.google.com/github/dineshkumar8464/pandas/blob/main/pandas_dinesh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
#list
list = [1,2,3,4,5,6]
s = pd.Series(list)             #Series --> S capital
print(s)
print("The last of tuples:/n")

#series by list of tuples
listoftuples = [('a',1),('b',2),('c',3)]  # (a,1) --> value
sl = pd.Series(listoftuples)
print(sl)

#series with list of multiple tuples
listoftuples =[("a",1,'A'),('b',2,'B'),( 'c',3,'C'),('d',4,'D'),('e',5,'E')]
df = pd.Series(listoftuples)
df.head()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
The last of tuples:/n
0    (a, 1)
1    (b, 2)
2    (c, 3)
dtype: object

0    (a, 1, A)
1    (b, 2, B)
2    (c, 3, C)
3    (d, 4, D)
4    (e, 5, E)
dtype: object




*   Series is 1Dimensional array



1. **Series by List**
2. **Series by array**
3. **Series by dictionary**

#Types to create Series

In [ ]:
#series by array
a=pd.Series([1,2,3,4,5,6])
print(a)

#sa = pd.Series(np.array([1,2,3,4,5,6]))
#print(sa)
#print("\n")

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#series by dictionary
#dictionary has key value pair
#keys has immutable so we taken keys has in the touple format
# values part has mutable so we taken values has in the list format
# ex : keys() : value []

dict ={"a":1,"b":2,"c":3}        #keys represents the indexes
sd = pd.Series(dict)
print(sd)

a    1
b    2
c    3
dtype: int64

In [ ]:
#giving index
list = [1,2,3,4,5,6]
s= pd.Series(list,index=['a','b','c','d','e','f'])
print(s)
print("\n")

list1 = [1,2,3,4,5,6]
s1= pd.Series(list1,index=['i','ii','iii','iv','v','vi'])
print(s1)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64


i      1
ii     2
iii    3
iv     4
v      5
vi     6
dtype: int64

#Creating DataFrames

**Different ways of creating dataframes**



*  Dataframe is 2Dimensional array   



1. Create dataframe using dictionary
2. create dataframe using list of tuples
3. Load data from Excel File  --> read-excel(" path ")
4. Load data from CSV File    --> read_csv("path")

In [ ]:
#create df using dictionary

dict = {"name of student": ["a","b","c","d","e"],
        'rollno': [1,2,3,4,5],
        'marks': [10,20,30,40,50]}
df =pd.DataFrame(dict)
df.head()

  name of student  rollno  marks
0               a       1     10
1               b       2     20
2               c       3     30
3               d       4     40
4               e       5     50

In [ ]:
listoftuples =[("a",1,'A'),('b',2,'B'),( 'c',3,'C'),('d',4,'D'),('e',5,'E')]
df = pd.DataFrame(listoftuples)
df.head()

   0  1  2
0  a  1  A
1  b  2  B
2  c  3  C
3  d  4  D
4  e  5  E

In [ ]:
data = pd.read_excel("C:\Users\dines\OneDrive\Documents\Book1.xslx")
df = pd.DataFrame(data)
df.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-33-54c6e93249d0>, line 1)

#ATTRIBUTES OF SERIES IN PANDAS

1. index
2. array
3. values
4. name
5. shape            - return the shape    
6. size
7. nbytes           - return memory occupied by values
8. dtype
9. memory_usage( )  - return memory occupied by values and index
10. empty           - return true if series is empty otherwise false
11. ndim

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
si = pd.Series([1,2,3,4,5,6],index =['a','b','c','d','e','f'])

print("index of series : ",si.index)                                         # index of series, returns only index values

print("values of series : ",s.values)                                         # values of series, returns only values without index

data = pd.Series([1,2,3,4,5,6],name ="number")

print("name of series :",data.name)                                         # name of series, the variable name must should be "name"

print("shape of series :",s.shape)                                          # shape of series, it is one dimesnional so it gives only 6

print("size of series :",s.size)                                            # no of elements in series

print("nbytes of series :",s.nbytes)                                        # memory occupied by series

print("dtype of series :",s.dtype)                                          # dataype of series

print("memory usage of values and index of series :/n ",s.memory_usage())   # memory usage of both values and index

print("memory usage of values of series : ",si.memory_usage(index=False))   #memory usage of values only

print("empty of series :",s.empty)

print("ndim of series :",s.ndim)           # no of dimesnions Series has only one dimension

s1 = pd.Series([])
print("the series is empty :", s1.empty)

index of series :  Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
values of series :  [1 2 3 4 5 6]
name of series : number
shape of series : (6,)
size of series : 6
nbytes of series : 48
dtype of series : int64
memory usage of values and index of series :/n  176
memory usage of values of series :  48
empty of series : False
ndim of series : 1
the series is empty : True

#MATHEMATICAL FUNCTIONS ON SERIES IN PANDAS - PYTHON PROGRAMMING
1. Addition  -add
2. Subtraction -sub
3. Multiplication -mul
4. Division -div
5. Modulo -mod
6. Power -pow
7. Less than _lt
8.Greater than -gt
9. Equal -gq
10.not equal -ne

In [ ]:
a=pd.Series([20,22,23,24,25,26])
print(a)
b=pd.Series([10,20,30,40,50,60])
print(b)

0    20
1    22
2    23
3    24
4    25
5    26
dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [ ]:
print(a+b)
print(a.add(b))

0    30
1    42
2    53
3    64
4    75
5    86
dtype: int64
0    30
1    42
2    53
3    64
4    75
5    86
dtype: int64

In [ ]:
print(a-b)
print(a.sub(b))

0    10
1     2
2    -7
3   -16
4   -25
5   -34
dtype: int64
0    10
1     2
2    -7
3   -16
4   -25
5   -34
dtype: int64

In [ ]:
print(a*b)
print(a.mul(b))

0     200
1     440
2     690
3     960
4    1250
5    1560
dtype: int64
0     200
1     440
2     690
3     960
4    1250
5    1560
dtype: int64

In [ ]:
print(a/b)            # returns quotient
print(a.div(b))

0    2.000000
1    1.100000
2    0.766667
3    0.600000
4    0.500000
5    0.433333
dtype: float64
0    2.000000
1    1.100000
2    0.766667
3    0.600000
4    0.500000
5    0.433333
dtype: float64

In [ ]:
print(a%b)            # returns remainder
print(a.mod(b))

0     0
1     2
2    23
3    24
4    25
5    26
dtype: int64
0     0
1     2
2    23
3    24
4    25
5    26
dtype: int64

In [ ]:
print(a**b)
print("")
print(a.pow(b))

0         10240000000000
1   -4601393140055670784
2      20724412416931825
3                      0
4   -3842938066129721103
5    1152921504606846976
dtype: int64

0         10240000000000
1   -4601393140055670784
2      20724412416931825
3                      0
4   -3842938066129721103
5    1152921504606846976
dtype: int64

In [ ]:
print(a//b)            # returns floor division
print(a.floordiv(b))

0    2
1    1
2    0
3    0
4    0
5    0
dtype: int64
0    2
1    1
2    0
3    0
4    0
5    0
dtype: int64

In [ ]:
print(a.abs())

0    20
1    22
2    23
3    24
4    25
5    26
dtype: int64

**Comparision Operators**

In [ ]:
print(a)
print(b)
print("the greater than values are")
print(a>b)
print("")
#print(a.gt(b))
print("The less than values are :")
print(a<b)
#print(a.lt(b))
print("the eqal values are :")
print(a==b)
#print(a.eq(b))
print("the not equal values are :")
print(a!=b)
#print(a.ne(b))

0    20
1    22
2    23
3    24
4    25
5    26
dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
the greater than values are
0     True
1     True
2    False
3    False
4    False
5    False
dtype: bool

The less than values are :
0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool
the eqal values are :
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
the not equal values are :
0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

#ACCESSING AND SLICING

In [ ]:
#creating dictionary

student_dict = {
    "name": ["Joe", "Nat", "Harry","dinesh","ramu",'sommu','sekhar','raja'],
    "roll_no": [101, 102, 103,109,108,104,102,100],
    "telugu": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "hindhi": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "english": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "maths": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "science": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "social": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6]}

#convert dict into dataframe

df = pd.DataFrame(student_dict)
df.head(10)

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

***properties***
1.  Head
2.  Tail
3.  Describe  - It will calc Mean, sum, mode, median, sd....
4.  Columns
4.  size
5.  shape

In [ ]:
print(df.head())    #print first five rows by default
print("")
print(" we want to print specified rows by passing a parameter")
print(" here we are passing 2 and later 8")
print("")
print(df.head(2))
print("")
print(df.head(8))

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90

 we want to print specified rows by passing a parameter
 here we are passing 2 and later 8

  name  roll_no  telugu  hindhi  english  maths  science  social
0  Joe      101    85.1    85.1     85.1   85.1     85.1    85.1
1  Nat      102    77.8    77.8     77.8   77.8     77.8    77.8

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
print(df.tail())        # print 5 last rows by default
print("")
print(" we want to print specified rows in bottom by passing a parameter")
print(" here we are passing 2 and later 1")
print("")
print(df.tail(2))
print("")
print(df.tail(1))

     name  roll_no  telugu  hindhi  english  maths  science  social
3  dinesh      109    76.4    76.4     76.4   76.4     76.4    76.4
4    ramu      108    88.9    88.9     88.9   88.9     88.9    88.9
5   sommu      104    89.4    89.4     89.4   89.4     89.4    89.4
6  sekhar      102    57.6    57.6     57.6   57.6     57.6    57.6
7    raja      100    48.6    48.6     48.6   48.6     48.6    48.6

 we want to print specified rows by passing a parameter
 here we are passing 2 and later 8

     name  roll_no  telugu  hindhi  english  maths  science  social
6  sekhar      102    57.6    57.6     57.6   57.6     57.6    57.6
7    raja      100    48.6    48.6     48.6   48.6     48.6    48.6

   name  roll_no  telugu  hindhi  english  maths  science  social
7  raja      100    48.6    48.6     48.6   48.6     48.6    48.6

In [ ]:
print(df.describe())

          roll_no    telugu    hindhi   english     maths   science    social
count    8.000000   8.00000   8.00000   8.00000   8.00000   8.00000   8.00000
mean   103.625000  76.91750  76.91750  76.91750  76.91750  76.91750  76.91750
std      3.248626  15.83963  15.83963  15.83963  15.83963  15.83963  15.83963
min    100.000000  48.60000  48.60000  48.60000  48.60000  48.60000  48.60000
25%    101.750000  71.70000  71.70000  71.70000  71.70000  71.70000  71.70000
50%    102.500000  81.45000  81.45000  81.45000  81.45000  81.45000  81.45000
75%    105.000000  89.02500  89.02500  89.02500  89.02500  89.02500  89.02500
max    109.000000  91.54000  91.54000  91.54000  91.54000  91.54000  91.54000

In [ ]:
print(df.size)
print(df.shape)

64
(8, 8)

In [ ]:
print(df.columns)

Index(['name', 'roll_no', 'telugu', 'hindhi', 'english', 'maths', 'science',
       'social'],
      dtype='object')

In [ ]:
print(df['roll_no'])
print(" ")
print("Two specific rows :\n ",df [['roll_no','name']])
print("")
print("multiple rows : \n",df[['roll_no','name',"telugu"]])
print("")
print("we can use head fun for our requiremnets :\n", df.head(2)[['roll_no','name','telugu']])
print("we can use tail fun for our requiremnets :\n", df.tail(2)[['roll_no','name','telugu']])

0    101
1    102
2    103
3    109
4    108
5    104
6    102
7    100
Name: roll_no, dtype: int64

Two specific rows :
     roll_no    name
0      101     Joe
1      102     Nat
2      103   Harry
3      109  dinesh
4      108    ramu
5      104   sommu
6      102  sekhar
7      100    raja

multiple rows :
    roll_no    name  telugu
0      101     Joe   85.10
1      102     Nat   77.80
2      103   Harry   91.54
3      109  dinesh   76.40
4      108    ramu   88.90
5      104   sommu   89.40
6      102  sekhar   57.60
7      100    raja   48.60

we can use head fun for our requiremnets :
    roll_no name  telugu
0      101  Joe    85.1
1      102  Nat    77.8

**indixing and slicing**

1. syntax --> df[1:5]['column_name']
2. syntax --> df[1:6][['column_nmae','column_name']]

In [ ]:
print(df.head(10))
print(df[2:5])   #same in python
print("")
print(df[:5])
print("")
print(df[2:])
print("")
print(df[1:9:2])
print("")

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60
     name  roll_no  telugu  hindhi  english  maths  science  social
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90

     name  roll_no  telugu  hindhi  english  maths  science  social
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

     name  roll_no  telugu  hindhi  english  maths  science  social
1     Nat      102    77.8    77.8     77.8   77.8     77.8    77.8
3  dinesh      109    76.4    76.4     76.4   76.4     76.4    76.4
5   sommu      104    89.4    89.4     89.4   89.4     89.4    89.4
7    raja      100    48.6    48.6     48.6   48.6     48.6    48.6

In [ ]:
#we wanna display particular column values
#print(df[['roll_no','name',"telugu"]][1:5])             # wrong syntax : data['column_name][1:4]

print(df)
print("")
print(df[1:5][['roll_no','name']])                     # correct syntax : data[1:4]['column_name']

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

   roll_no    name
1      102     Nat
2      103   Harry
3      109  dinesh
4      108    ramu

1. **Loc function**
2. **Iterrrows function**

In [ ]:
print(df.loc[1])    # print values like row wise
print("\n")
for index,rows in df.iterrows():  # iterate all values in rowwise
    print(index,rows)

name        Nat
roll_no     102
telugu     77.8
hindhi     77.8
english    77.8
maths      77.8
science    77.8
social     77.8
Name: 1, dtype: object


0 name        Joe
roll_no     101
telugu     85.1
hindhi     85.1
english    85.1
maths      85.1
science    85.1
social     85.1
Name: 0, dtype: object
1 name        Nat
roll_no     102
telugu     77.8
hindhi     77.8
english    77.8
maths      77.8
science    77.8
social     77.8
Name: 1, dtype: object
2 name       Harry
roll_no      103
telugu     91.54
hindhi     91.54
english    91.54
maths      91.54
science    91.54
social     91.54
Name: 2, dtype: object
3 name       dinesh
roll_no       109
telugu       76.4
hindhi       76.4
english      76.4
maths        76.4
science      76.4
social       76.4
Name: 3, dtype: object
4 name       ramu
roll_no     108
telugu     88.9
hindhi     88.9
english    88.9
maths      88.9
science    88.9
social     88.9
Name: 4, dtype: object
5 name       sommu
roll_no      104
telugu      89.4
hindhi      89.4
english     89.4
maths       89.4
science     89.4
social      89.4
Name: 5, dtype: object
6 name       sekhar
roll_no       102
telugu       57.6
hindhi       57.6
english      57.6
maths        57.6
science      57.6
social       57.6
Name: 6, dtype: object
7 name       raja
roll_no     100
telugu     48.6
hindhi     48.6
english    48.6
maths      48.6
science    48.6
social     48.6
Name: 7, dtype: object

In [ ]:
for index,rows in df.iterrows():  # iterate single column values
    print(index,rows['roll_no'])

for index,rows in df.iterrows():  # iterate double column values
    print(index,rows[['roll_no','telugu']])

0 101
1 102
2 103
3 109
4 108
5 104
6 102
7 100
0 roll_no     101
telugu     85.1
Name: 0, dtype: object
1 roll_no     102
telugu     77.8
Name: 1, dtype: object
2 roll_no      103
telugu     91.54
Name: 2, dtype: object
3 roll_no     109
telugu     76.4
Name: 3, dtype: object
4 roll_no     108
telugu     88.9
Name: 4, dtype: object
5 roll_no     104
telugu     89.4
Name: 5, dtype: object
6 roll_no     102
telugu     57.6
Name: 6, dtype: object
7 roll_no     100
telugu     48.6
Name: 7, dtype: object

**condition based**


1.   Normal type
2.   loc method

In [ ]:
import pandas as pd
student_dict = {
    "name": ["Joe", "Nat", "Harry","dinesh","ramu",'sommu','sekhar','raja'],
    "roll_no": [101, 102, 103,109,108,104,102,100],
    "telugu": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "hindhi": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "english": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "maths": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "science": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "social": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6]}
df = pd.DataFrame(student_dict)

#row wise
print(df [df['roll_no']==103])    # for only row
print("")

print(df.loc[df['roll_no']==103]) #for row wise
print("")

print(df.loc[df['name'] == 'raja']) #for row wise


#column wise
print(df['roll_no']==103)   #column wise (check where 103 roll no is present, return true oterwise not)

    name  roll_no  telugu  hindhi  english  maths  science  social
2  Harry      103   91.54   91.54    91.54  91.54    91.54   91.54

    name  roll_no  telugu  hindhi  english  maths  science  social
2  Harry      103   91.54   91.54    91.54  91.54    91.54   91.54

   name  roll_no  telugu  hindhi  english  maths  science  social
7  raja      100    48.6    48.6     48.6   48.6     48.6    48.6
0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: roll_no, dtype: bool

#sorting

*   we use only ascending, either it may be ture or false
*   True =1 ascending
*   False =0 descending

In [ ]:
df.head(10)

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
#types to apply sort option , () []

df.sort_values(by='name')
#df.sort_values('name')
#df.sort_values(['name'])

     name  roll_no  telugu  hindhi  english  maths  science  social
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40

acsending option

In [ ]:
print(df.sort_values(by='name',ascending=False))  # asc =false, it will place the values in descending order
# print(df.sort_values('name',ascending=False))
print("")
#print(df.sort_values(['name','roll_no'],ascending=[True,False]))
#print(df.sort_values(['name','roll_no'],ascending=[1,0]))

     name  roll_no  telugu  hindhi  english  maths  science  social
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54

for multiple values sorting, we defintely **square brackets** [ ]

In [ ]:
print(df.sort_values(['name','roll_no']))
print(df.sort_values(['name','roll_no'],ascending=[True,False]))

     name  roll_no  telugu  hindhi  english  maths  science  social
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
     name  roll_no  telugu  hindhi  english  maths  science  social
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40

#Manipulate dataframe

Adding and Dropping Columns

In [ ]:
#df['roll_no']=101
#df.head()

df['total_amount']=0
df.head()
#df['avg']=0
#df['percentage']=0 ....etc

df['total_amount']=df['telugu']+df['hindhi']+df['english']+df['maths']+df['science']+df['social']
df.head()
#df['avg']=df['total_amount']/600
#df['percentage']=df['total_amount]/600*100

#df['total_amount']=df[['telugu','hindhi','english','maths','science','social']].sum(axis=1)
#df.head()

# sum(axis=1 )c -->  for performing sum operation
#bez df[[... ]] -->  in this we just give the column names without addition

,name,roll_no,telugu,hindhi,english,maths,science,social,total_amount
0,Joe,101,85.10,85.10,85.10,85.10,85.10,85.10,NaN
1,Nat,101,77.80,77.80,77.80,77.80,77.80,77.80,NaN
2,Harry,101,91.54,91.54,91.54,91.54,91.54,91.54,NaN
3,dinesh,101,76.40,76.40,76.40,76.40,76.40,76.40,NaN
4,ramu,101,88.90,88.90,88.90,88.90,88.90,88.90,NaN

In [ ]:
#df.drop(columns='total_amount')
#df.head()

#df=df.drop(columns='total_amount',axis=1)                      # by adding this opertion to 'df' we can delete coloumn permantatly like inplace
# df.head()

df.drop('total_amount',axis=1,inplace=True)                       #axis --> column inplace --> permanant action
df.head()

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      101   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      101   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      101   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      101   88.90   88.90    88.90  88.90    88.90   88.90

In [ ]:
df.head()
df[['roll_no','name',"telugu"]]

   roll_no    name  telugu
0      101     Joe   85.10
1      101     Nat   77.80
2      101   Harry   91.54
3      101  dinesh   76.40
4      101    ramu   88.90
5      101   sommu   89.40
6      101  sekhar   57.60
7      101    raja   48.60

#Export dataframe to Excel, CSV, TXt


*   The imported dataset from the excel or csv or txt file, can be altered due to some requirments such as adding column or drop row etc etc.So that altered dataset can be exported to other sources such as excel, csv, txt

1.   import dataset into pandas by **pd.read_ (path.extension )**
2.   alter dataset such as add column or insert values drop colums etc etc
3.   export dataset by **pd.to_ ()**


*   FOR excel file --> pd.to_excel(path.xslx)   
*   FOR csv file --> pd.to_csv(path.csv)  
*   FOR txt file --> pd.to_csv(path.txt)      # txt also used the"to_csv"

#**LOC Method and ILOC method**

In [ ]:
df.head(10)

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
df.loc[3]

name       dinesh
roll_no       101
telugu       76.4
hindhi       76.4
english      76.4
maths        76.4
science      76.4
social       76.4
Name: 3, dtype: object

**loc method has label based method**


*   The syntax is
*  **df.loc [ number, [ 'label' ]]**

In [ ]:
#df.loc[3,1]  we get error
print(df.loc[3])
df.loc[3,['roll_no']]

name       dinesh
roll_no       109
telugu       76.4
hindhi       76.4
english      76.4
maths        76.4
science      76.4
social       76.4
Name: 3, dtype: object

roll_no    109
Name: 3, dtype: object

In [ ]:
df.loc [3,['roll_no','name']]
df.loc [3,['roll_no','name','telugu','hindhi']]
df.loc[3,['roll_no','name','telugu','hindhi','english','maths','science','social']]

roll_no       109
name       dinesh
telugu       76.4
hindhi       76.4
english      76.4
maths        76.4
science      76.4
social       76.4
Name: 3, dtype: object

In [ ]:
df.loc[0:7]              #7th row also displayed, this is the best feature
df.loc[1:]
df.loc[:5]

#slicing with labels
df.loc[1:5,['roll_no']]
df.loc[0:7,['roll_no','name']]
df.loc[0:7,['roll_no','name','telugu']]
df.loc[0:7,['roll_no','name','telugu','hindhi']]

#slicing with "labels slciing"
#df.loc[1:5,['roll_no':'hindhi']]  --> invalid syntax due to unneccesary of placing [ ]
df.loc[1:5,'roll_no':'hindhi']
df.loc[1:5,'roll_no':'social']
df.loc[0:7,'name':'social']

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

**ILOC Method**


*   It is index based method
*   means we are providing the index values to the left side

*   we can applyy this option so many ways, first we have to know the syntax

In [ ]:
#using single index
df.iloc[2,1]
df.iloc[1,1]
df.iloc[1,5]

#using slicing index
df.iloc[4,2:8]
df.iloc[1,3:7]

1    77.80
2    91.54
3    76.40
4    88.90
Name: english, dtype: float64

In [ ]:
print(df.iloc[0:5,0])              # 0-4 rows 0th column values wii be printed
print('')
print(df.iloc[0:5,4])              # 0-4 rows 4th column will be printed
print("")
print(df.iloc[0:8,4:8])            # d 0-7 row 4,5,6 columns values will be printed
print("")

#print(df.iloc[0,3])                #o row 3 column value printed

0       Joe
1       Nat
2     Harry
3    dinesh
4      ramu
Name: name, dtype: object

0    85.10
1    77.80
2    91.54
3    76.40
4    88.90
Name: english, dtype: float64

   english  maths  science  social
0    85.10  85.10    85.10   85.10
1    77.80  77.80    77.80   77.80
2    91.54  91.54    91.54   91.54
3    76.40  76.40    76.40   76.40
4    88.90  88.90    88.90   88.90
5    89.40  89.40    89.40   89.40
6    57.60  57.60    57.60   57.60
7    48.60  48.60    48.60   48.60

In [ ]:
print(df.iloc[[0,4]])
print("")
print(df.iloc[[0,7]])
print("")
print(df.iloc[[0,5]])

   name  roll_no  telugu  hindhi  english  maths  science  social
0   Joe      101    85.1    85.1     85.1   85.1     85.1    85.1
4  ramu      108    88.9    88.9     88.9   88.9     88.9    88.9

   name  roll_no  telugu  hindhi  english  maths  science  social
0   Joe      101    85.1    85.1     85.1   85.1     85.1    85.1
7  raja      100    48.6    48.6     48.6   48.6     48.6    48.6

    name  roll_no  telugu  hindhi  english  maths  science  social
0    Joe      101    85.1    85.1     85.1   85.1     85.1    85.1
5  sommu      104    89.4    89.4     89.4   89.4     89.4    89.4

In [ ]:
#for small values both are same, the difference will be showed in more data
print(df.loc[1])
print(" ")
print(df.iloc[1])

name        Nat
roll_no     102
telugu     77.8
hindhi     77.8
english    77.8
maths      77.8
science    77.8
social     77.8
Name: 1, dtype: object

name        Nat
roll_no     102
telugu     77.8
hindhi     77.8
english    77.8
maths      77.8
science    77.8
social     77.8
Name: 1, dtype: object

In [ ]:
#loc display last index value aslo but iloc not
print(df.loc[0:5])
print("")
print(df.iloc[0:5])

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      101   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      101   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      101   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      101   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      101   89.40   89.40    89.40  89.40    89.40   89.40

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      101   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      101   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      101   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      101   88.90   88.90    88.90  88.90    88.90   88.90

# HANDLING MISSING VALUES

1.   Removing missing values -**Dropna**
2.   filling missing values  - **Fillna**


*   **syntax of dropna** :   
*   df.dropna()
*   df.dropna(inplace= True)
*   df['coloumn_name'].dropna()
*   df['coloumn_name','column_name'].dropna()  




*   **syntax of fillna** : (value =integers)
*   df.fillna(value)                        #all missed values are filled
*   df.fillna(value,inplace=True)           #permenant action takes place
*   df['column_name'].fillna(value)         #apllied for particular column
*   df['column_name','column_name'].fillna(value)             #apllied for both










*   This operations do not reflect the original dataset until we use the inplace opertor
*   It just diplay a view of dataset

# Removing Duplicates


1. data_frame.duplicated( )
2. data_frame.drop_duplicates( )
3. data_frame.drop_duplicates(inplace=True)

the dataset is not correct, so we can go with ur example for removing duplicates

In [ ]:
import pandas as pd
student_dict = {
    "name": ["Joe", "Nat", "Harry","dinesh","ramu",'ramu','sekhar','raja'],
    "roll_no": [101, 102, 103,109,108,104,102,100],
    "telugu": [85.10, 85.10, 91.54,76.4,88.9,89.4,57.6,48.6],
    "hindhi": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "english": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "maths": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6],
    "science": [85.10, 77.80, 91.54,91.54,88.9,89.4,57.6,48.6],
    "social": [85.10, 77.80, 91.54,76.4,88.9,89.4,57.6,48.6]}

df = pd.DataFrame(student_dict)
df.head(10)

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   85.10   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    91.54   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5    ramu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
#duplicated method return true if duplicate placed otherwise false
print(df.duplicated())
print("")

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [ ]:
#drop duplicates remove the dupliacted rows
print(df.drop_duplicates())

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
df.head(10)

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   77.80   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    76.40   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   sommu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
7    raja      100   48.60   48.60    48.60  48.60    48.60   48.60

In [ ]:
#using inplace true makes the raw dataframe effected
print(df.drop_duplicates(inplace=True))

None

# DATA FILTERING (USING CONDITIONS) IN PANDAS

In [ ]:
df.head()

     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   85.10   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    91.54   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90

In [ ]:
#comparisons
print(df.loc[df['roll_no']==104])
print("")

print(df.loc[df['telugu']>85])
print("")
print(df.loc[df['telugu']<65])

   name  roll_no  telugu  hindhi  english  maths  science  social
5  ramu      104    89.4    89.4     89.4   89.4     89.4    89.4

    name  roll_no  telugu  hindhi  english  maths  science  social
0    Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1    Nat      102   85.10   77.80    77.80  77.80    77.80   77.80
2  Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
4   ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5   ramu      104   89.40   89.40    89.40  89.40    89.40   89.40

     name  roll_no  telugu  hindhi  english  maths  science  social
6  sekhar      102    57.6    57.6     57.6   57.6     57.6    57.6
7    raja      100    48.6    48.6     48.6   48.6     48.6    48.6

In [ ]:
#strings methods
print(df.loc[df['name'].str.contains("o")])
print(df.loc[df['name'].str.startswith("d")])
print(df.loc[df['name'].str.endswith("h")])

# and so on

  name  roll_no  telugu  hindhi  english  maths  science  social
0  Joe      101    85.1    85.1     85.1   85.1     85.1    85.1
     name  roll_no  telugu  hindhi  english  maths  science  social
3  dinesh      109    76.4    76.4     76.4   76.4    91.54    76.4

In [ ]:
#syntax is important
print('and condition')
print(df.loc[(df['roll_no']>100) & (df["name"]=='dinesh')])
print("or condition ")
print(df.loc[(df['roll_no']>100) | (df["name"]=='dinesh')])
print('multiple and conditions')
print(df.loc[(df['roll_no']>100) & (df["name"]=='dinesh') & (df["telugu"]>85.5)])

#and so on

and condition
     name  roll_no  telugu  hindhi  english  maths  science  social
3  dinesh      109    76.4    76.4     76.4   76.4    91.54    76.4
or condition
     name  roll_no  telugu  hindhi  english  maths  science  social
0     Joe      101   85.10   85.10    85.10  85.10    85.10   85.10
1     Nat      102   85.10   77.80    77.80  77.80    77.80   77.80
2   Harry      103   91.54   91.54    91.54  91.54    91.54   91.54
3  dinesh      109   76.40   76.40    76.40  76.40    91.54   76.40
4    ramu      108   88.90   88.90    88.90  88.90    88.90   88.90
5    ramu      104   89.40   89.40    89.40  89.40    89.40   89.40
6  sekhar      102   57.60   57.60    57.60  57.60    57.60   57.60
multiple and conditions
Empty DataFrame
Columns: [name, roll_no, telugu, hindhi, english, maths, science, social]
Index: []